node_modules
dist
dist-ssr
build
out
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/*
!.vscode/extensions.json
.idea
*.sw?
Thumbs.db
.DS_Store
logs
*.log
coverage
*.tmp
*.temp
.cache
*.tsbuildinfo
.eslintrc.*